<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caixa do Restaurante</title>
    <link rel="stylesheet" th:href="@{/produto/produtos.css}">
</head>
<body>
<h1>Histórico de Vendas</h1>
<a th:href="@{/vendas/nova}">Novo Pedido +</a>

<table border="1">
    <thead>
    <tr>
        <th>Nº Pedido</th>
        <th>Status</th>
        <th>Detalhes do Pedido</th> <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="venda : ${vendas}">
        <td th:text="${venda.id}"></td>
        <td th:text="${venda.status}"></td>

        <td>
            <ul>
                <li th:each="item : ${venda.vendaProdutos}">
                    <span th:text="${item.quantidade} + 'x ' + ${item.produto.nome}"></span>
                </li>
            </ul>
        </td>

        <td th:text="'R$ ' + ${venda.valor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>